<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <!-- 10.2 月日の一覧表示 -->
      <!--  <td>時間管理表</td> -->
      <!-- 10.4 1ヶ月ごとの表示切り替え機能を作ろう -->
      <td>【<%= l(@first_day, format: :middle) %>】勤怠管理表</td>
      <!-- 9.2.2 バリデーション設定に伴う表示に対応 /9.2.3 基本表示用ヘルパーを作る-->
      <td>指定勤務時間：<%=format_basic_info(@user.work_time) %></td>
      <td>基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <!-- ##10.3 "ユーザー"の月日を一覧表示 -->
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <!-- 10.7.1 出勤日数を表示 -->
      <td>出勤日数：<%= @worked_sum %>日</td>
      <!-- ##10.3 "ユーザー"の月日を一覧表示 -->
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!-- 10.4 1ヶ月ごとの表示切り替え機能を作ろう -->
<div class="btn-users-show">
  <%= link_to "⇦ 前月へ", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
  <!-- 11.1.3-1 勤怠情報ページのボタン作成 -->
  <%= link_to "1ヶ月の勤怠編集へ", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
  <%= link_to "翌月へ ⇨", user_path(date: @first_day.next_month), class: "btn btn-info" %>
</div>

<!-- 10.2 月日の表示 -->
<!-- 10.3 "ユーザー"の月日を一覧表示：構文の削除 -->
<!-- 10.4 1ヶ月ごとの表示切り替え機能を作ろう：構文の復活 -->
<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>勤怠登録</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <!-- 10.2.3 月の初日と末日の表示 -->
          <td><%= l(day.worked_on, format: :short) %></td>
          <!-- 10.2.3 月の初日と末日の表示 -->
      　　<td><%= $days_of_the_week[day.worked_on.wday] %></td>
      　　<td>
      　　    <!-- 10.6.1 退勤ボタンを表示/退勤登録ボタン -->
      　　    <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
      　　</td>
      　　<!-- 5.3-3 出勤登録アクションを作る/出勤登録ボタン -->
      　　<td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
      　　<!-- 10.6.2 updateアクションを完成/退勤登録ボタン -->
      　　<td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
      　　<td>
            <!-- 10.8 在社時間を計算 -->
            <% if day.started_at.present? && day.finished_at.present? %>
             <!-- 10.9.2 累計在社時間の計算/ 勤怠表を仕上げ -->
             <%= str_times = working_times(day.started_at, day.finished_at) %>
             <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
      　　</td>
      　　<!--  11.3.2-2 note（備考）の情報をユーザー勤怠情報ページで表示 -->
      　　<td><%= day.note %></td>
    　　</tr>
    　<% end %>
    </tbody>
    
    <!-- 10.9 勤怠表を仕上げ -->
    <tfoot>
      <!--rouspan:縦結合、colspan:横結合-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <!-- 10.9.1 総合勤務時間の計算/ 勤怠表を仕上げ -->
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <!-- 10.9.2 累計在社時間の計算/ 勤怠表を仕上げ -->
        <td colspan="2"><%= format("%.2f", @total_workingtimes.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>